version: "3.8"
services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
    env_file:
      - ./.env
    volumes:
      - ./backend/app:/app/app
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build:
      context: ./backend
    command: ["python", "worker.py"]
    env_file:
      - ./.env
    volumes:
      - ./backend/app:/app/app
    depends_on:
      - redis
      - backend

  frontend:
    build:
      context: ./frontend
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
    depends_on:
      - backend
